@media only screen and (max-device-width : 479px) {
	.card {
	   max-width: 100%;
	}
}
@media only screen and (min-device-width : 480px) and (max-device-width : 719px) {
	.card {
	   max-width: 50%;
	}
}
@media only screen and (min-device-width : 720px) and (max-device-width : 959px) {
	.card {
	   max-width: 33%;
	}
}
@media only screen and (min-device-width : 960px) {
	.card {
	   max-width: 25%;
	}
}

body {
    margin: 0;
}

.cards {
    box-sizing: content-box;
	display: flex;
    flex-wrap: wrap;
}

.card {
	border: 1px solid black;
    box-sizing: border-box;
    flex: 1 1 240px;
    min-width: 240;
}

.card .track {
    background-color: turquoise;
	text-overflow: clip;
}

.card .title {
    font-style: italic;
	text-overflow: clip;
}

.card .artist {
	font-weight: bold;
    background-color: cyan;
	text-overflow: clip;
}

.track,.artist {
    text-align: center;
}
