@media only screen and (max-device-width : 479px) {
	.card {
       height: 100px;
	   line-height: 1.5;
	   max-width: 100%;
	}
}
@media only screen and (min-device-width : 480px) and (max-device-width : 719px) {
	.card {
	   height: 112px;
	   line-height: 1.25;
	   max-width: 50%;
	}
}
@media only screen and (min-device-width : 720px) and (max-device-width : 959px) {
	.card {
        height: 90px;
	   max-width: 33%;
	}
}
@media only screen and (min-device-width : 960px) {
	.card {
        height: 90px;
	   max-width: 25%;
	}
}

body {
    margin: 0;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 1.3em;
}

#info_window {
	height: 5em;
	padding: 4px, 0, 4px, 0;
    text-align: center;
}

#upcoming ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.cards {
    box-sizing: content-box;
	display: flex;
    flex-wrap: wrap;
}

.card {
    background: linear-gradient(rgb(255,204,204),rgb(255,102,102),rgb(255,204,204));
	border: 1px solid red;
    box-sizing: border-box;
    flex: 1 1 240px;
    margin: 0 0 8px 0;
    min-width: 240;

    overflow: hidden;
	text-overflow: clip;
}

.card .artist {
    font-size: -0.3em;
	font-weight: bold;
}

.card .artist,.track {
    padding: 2px 0 2px 0;
    text-align: center;
}

.track .selector {
    margin-right: 4px;
    text-align: left;
}

.track .title {
    font-style: italic;
}
