
body {
    height: 100%;
    margin: 0;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 1.2em;
}

#header {
    border: 1px solid blue;
    box-sizing: border-box; /* include the border within the height and width */

    height: 100px;
    width: 100%;

    position: fixed;
    top: 0;
    z-index: 10;
    background: #eeeeee;
    -webkit-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
    box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
}

#music_selections {
    height: 100%;
    margin-top: 100px;
    overflow: scroll;
}

#status {
    text-align: center;
}

#play_queue {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
