
a:link, a:visited {
    color: Black;
    text-decoration: none;
}

a:hover, a:active {
    color: DarkSlateGray;
    text-decoration: none;
}

body {
    height: 100%;
    margin: 0;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 1.1em;
}

#header {
    border: 1px solid blue;
    box-sizing: border-box; /* include the border within the height and width */

    height: 100px;
    width: 100%;

    position: fixed;
    top: 0;
    z-index: 10;
    background: #eeeeee;
    -webkit-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
    box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
}

#player {
    height: 100%;
    overflow-y: hidden;
    text-align: center;
}

#status {
    height: 22px;
}

#play_queue {
    height: 76px;
    margin: 6px 0 6px 0;
    padding: 0;
}

#play_queue ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#music_selections {
    column-gap: 0;
    height: 100%;
    margin-top: 100px;
    overflow: scroll;
}

.card {
    background: linear-gradient(
        rgb(255,204,204),
        rgb(255,204,204),
        rgb(255,153,153),
        rgb(255,102,102),
        rgb(255,153,153),
        rgb(255,204,204),
        rgb(255,204,204)
    );
    border: 1px solid red;
    height: 72px;
    margin: 1px;
    text-align: center;
}

.card > .track {
    height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (min-device-width : 640px) and (max-device-width : 959px) {
    #music_selections {
        column-count: 2;
    }
}

@media only screen and (min-device-width : 960px) and (max-device-width : 1279px) {
    #music_selections {
        column-count: 3;
    }
}

@media only screen and (min-device-width : 1280px) and (max-device-width : 1599px) {
    #music_selections {
        column-count: 4;
    }
}

@media only screen and (min-device-width : 1600px) {
    #music_selections {
        column-count: 5;
    }
}
