<!DOCTYPE html>
<html lang="en" data-ng-app="jmpcApp">
<head>
  <meta charset="UTF-8">
  <title>Jukebox Media Player Client</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/jmpc-columns.css">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  <script type="text/javascript" src="js/jukeboxmpc.js"></script>
</head>
<body>
  <header id="header">
    <section id="status" data-ng-controller="MusicPlayerController">
      <span id="current_song">{{player.currentSong}}</span>
      <ul id="play_queue" data-ng-controller="PlaylistController">
        <li data-ng-repeat="song in playlist">{{song.artist}} - {{song.title}}</li>
      </ul>
    </section>
  </header>
  <section id="music_selections" data-ng-controller="CardListController">
    <div class="card" data-ng-repeat="card in cards" data-ng-include="'card.html'"></div>
  </section>
</body>
</html>
