<!DOCTYPE html>
<html data-ng-app="jmpcApp" lang="en">
<head>
    <link href="css/jukeboxmpc.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js" type="text/javascript"></script>
    <script src="js/jukeboxmpc.js" type="text/javascript"></script>
    <title>Jukebox Media Player Client</title>
</head>
<body data-ng-controller="JukeboxController">
<header id="header">
    <!--    <section id="player" data-ng-controller="MusicPlayerController">-->
    <section id="player">
        <section id="player-display">
            <section id="status">{{player.currentSong}}</section>
            <section id="play_queue">
                <ul>
                    <li data-ng-repeat="song in player.upcomingSongs">{{ song }}</li>
                </ul>
            </section>
        </section>
        <section id="player-control">
            <button data-ng-click="status()" name="refresh">Refresh</button>
        </section>
    </section>
</header>
<!--<section id="music_selections" data-ng-controller="CardListController">-->
<section id="music_selections">
    <div class="card" data-ng-include="'card.html'" data-ng-repeat="card in cards"></div>
</section>
</body>
</html>
